<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"></div>
				<div class="contact">
					<form>
						<p style="color: red;">{{result}}</p>
						<h3>LOGIN</h3>
						<div class="signup__field">
							<input class="signup__input" type="text" name="email" id="email" required
								[(ngModel)]="email" />
							<label class="signup__label" for="email" style="color:#332042;">Email</label>
						</div>
						
						<button class="submit" (click)="submit()">{{load?"Genarting Link":"Get Link"}}</button><br>
						<h6>Don't Have Account ?<a routerLink="/register">Create Account</a></h6><br>
						<h6>Forget your password?<a routerLink="/forget"> Click Here</a></h6>
					</form>

				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>Digital Library</h2>
					<h5>Welcome to Digital Library</h5>
				</div>
			</div>
		</div>
	</section>
</body>